version: "3.3"
services:
  nginx:
    image: property-app-nginx
    container_name: property-app-nginx
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - "80:80"
    links:
      - client
      - backend
    depends_on:
      - client
      - backend
    restart: always
  client:
    build:
      dockerfile: Dockerfile
      context: ./client
    container_name: property-app-client
    image: property-app-client
  backend:
    build:
      dockerfile: Dockerfile
      context: ./server
    container_name: property-app-backend
    image: property-app-backend

    