version: "3.3"
services:
  nginx:
    image: ${{ secrets.ECR_REGISTRY }}/property-app-nginx:latest
    container_name: property-app-nginx
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - "80:80"
    links:
      - client
      - backend
    depends_on:
      - client
      - backend
    restart: always
  client:
    build:
      dockerfile: Dockerfile
      context: ./client
    container_name: property-app-client
    image: ${{ secrets.ECR_REGISTRY }}/property-app-client:latest
  backend:
    build:
      dockerfile: Dockerfile
      context: ./server
    container_name: property-app-backend
    image: ${{ secrets.ECR_REGISTRY }}/property-app-backend:latest

    